@mixin navigation-link {
  display: block;
  padding: 16px;
  color: white;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navigation-height;
  background-color: rgba(0, 0, 0, 0.3);

  &-logo {
    margin-left: 50px;
    float: left;
    a {
      @include navigation-link
    }
  }

  &-menu {
    margin-right: 50px;
    &__item {
      float: right;
      height: $navigation-height - 2px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      a {
        @include navigation-link
      }

    }
  }

  &-icons {
    position: relative;
    font-size: 1rem;
    top: 2px;
    margin-right: 2px;
  }
}

.active {
  border-bottom: 2px solid $accent-color;
}