@mixin navigation-link {
  @include navigation-link--size--padding;
  display: block;
  color: white;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navigation-height;
  background-color: rgba(0, 0, 0, 0.3);

  &-logo {
    @include side-padding--left;
    float: left;
    a {
      @include navigation-link;
    }
  }

  &-menu {
   @include side-padding--right;

    &__item {
      float: right;
      height: $navigation-height - 2px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &--icon {
        position: relative;
        font-size: 1em;
        top: 2px;
        margin-right: 6px;
      }

      @media (max-width: 720px) {
        &--desc {
          @include hidden;
        }
      }

      a {
        @include navigation-link
      }

    }
  }

}

.active {
  border-bottom: 2px solid $accent-color;
}