body {
    margin: 0;
    height: 100vh;
    background: url('../images/takahiro-sakamoto-225243.jpg') no-repeat center;
    /*background-size: cover;*/
}

body, input, button {
    font-family: 'Roboto', sans-serif;
}

.gate {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
}

.gate-header {
    margin: 30px 0;
}

.gate-header-title {
    margin: 0;
    color: #dddddd;
    font-size: 3rem;
}

.gate-enter-input-container {
    float: left;
    width: 70%;
}

.gate-enter-button-container {
    float: left;
    width: 20%;
    margin-top: 20px;
    margin-left: 10px;
}


